.split-pane {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.split-pane-left,
.split-pane-right {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: width 0ms;
}

.split-pane-divider {
  width: 1px;
  height: 100%;
  background: var(--vscode-panel-border);
  cursor: col-resize;
  position: relative;
  flex-shrink: 0;
  transition: background var(--transition-fast);
}

.split-pane-divider:hover,
.split-pane-divider.dragging {
  background: var(--vscode-focusBorder);
  width: 2px;
}

.split-pane-divider-handle {
  display: none;
}
